<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="getBackButtonText()" defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="message">
  <ion-item>
    <ion-label class="ion-text-wrap">
      <h2>
        {{ message.fromName }}
        <span class="date">
          <ion-note>{{ message.date }}</ion-note>
        </span>
      </h2>
      <h3>To: <ion-note>Me</ion-note></h3>
    </ion-label>
  </ion-item>
  
  <div class="ion-padding">
    <h1>{{ message.subject }}</h1>
    <p>Duration: {{ message.duration }}</p>
    <p>Distance: {{ message.totalDistance }}</p>
    <p>Energy Burned: {{ message.totalEnergyBurned }}</p>
    <p>Flights Climbed: {{ message.totalFlightsClimbed }}</p>
    <p>Swimming Strokes: {{ message.totalSwimmingStrokeCount }}</p>
  </div>

  <div class="ion-text-center">
    <ion-button (click)="getDistance()">Get Distance to Console 👇</ion-button>
  </div>

</ion-content>
